h2 Image Container
div(class='image-container' style='display:inline-block;width:120px;')
  img(src=imageAvt alt='avatar')
  div(class='overlay')
    div(class='text') Avatar
div(class='image-container' style='display:inline-block;width:120px;')
  img(src=imageAvt alt='avatar')
  div(class='overlay from-top')
    div(class='text') Avatar
div(class='image-container' style='display:inline-block;width:120px;')
  img(src=imageAvt alt='avatar')
  div(class='overlay from-bottom')
    div(class='text') Avatar
div(class='image-container' style='display:inline-block;width:120px;')
  img(src=imageAvt alt='avatar')
  div(class='overlay from-right')
    div(class='text') Avatar
div(class='image-container' style='display:inline-block;width:120px;')
  img(src=imageAvt alt='avatar')
  div(class='overlay from-left')
    div(class='text') Avatar

h2 Image Filter
figure(style='display:inline-block;width:240px;')
  img(src=imageFruit alt='Image')
  figcaption original
figure(style='display:inline-block;width:240px;')
  img(src=imageFruit alt='Image' class='filter blur')
  figcaption .filter.blur
figure(style='display:inline-block;width:240px;')
  img(src=imageFruit alt='Image' class='filter lighten')
  figcaption .filter.lighten
figure(style='display:inline-block;width:240px;')
  img(src=imageFruit alt='Image' class='filter darken')
  figcaption .filter.darken
figure(style='display:inline-block;width:240px;')
  img(src=imageFruit alt='Image' class='filter contrast')
  figcaption .filter.contrast
figure(style='display:inline-block;width:240px;')
  img(src=imageFruit alt='Image' class='filter gray')
  figcaption .filter.gray
figure(style='display:inline-block;width:240px;')
  img(src=imageFruit alt='Image' class='filter hue-rotate')
  figcaption .filter.hue-rotate
figure(style='display:inline-block;width:240px;')
  img(src=imageFruit alt='Image' class='filter invert')
  figcaption .filter.invert
figure(style='display:inline-block;width:240px;')
  img(src=imageFruit alt='Image' class='filter opacity')
  figcaption .filter.opacity
figure(style='display:inline-block;width:240px;')
  img(src=imageFruit alt='Image' class='filter saturate')
  figcaption .filter.saturate
figure(style='display:inline-block;width:240px;')
  img(src=imageFruit alt='Image' class='filter sepia')
  figcaption .filter.sepia
