-
  var models = [
    {id: 1, name: 'James', age: 35},
    {id: 2, name: 'Caren', age: 24},
    {id: 3, name: 'Bob', age: 30},
  ];

form(action='#' method='POST' class='form-inline')
  input(type='text' name='name' placeholder='Name')
  input(type='number' name='age' placeholder='Age')
  button(type='submit' class='btn success') Create

ul(class='simple-crud-list')
  each model in models
    li(class='simple-crud-item')
      div(class='simple-crud-view-read show')
        span(class='content')
          span= `id: ${model.id} name: ${model.name} age: ${model.age}`
        span(class='actions btn-group')
          button(class='simple-crud-update btn') Edit
          button(class='simple-crud-delete btn danger') Delete
      form(action='#' method="POST" class='form-inline simple-crud-view-update')
        span(class='content')
          span= `id: ${model.id}`
          input(type='hidden' name='id' value=model.id)
          label
            span Name:
            input(type='text' name='name' value=model.name)
          label
            span Age:
            input(type='number' name='age' value=model.age)
        span(class='actions btn-group')
          button(type='button' class='simple-crud-cancel btn') Cancel
          button(type='submit' class='btn success') Edit
      form(action='#' method='POST' class='form-inline simple-crud-view-delete')
        span(class='content')
          span(class='color-danger') <b>Are you sure?</b> Remove this model?
        span(class='actions btn-group')
          button(type='submit' class='btn danger') Delete
          button(type='button' class='simple-crud-cancel btn') Cancel
