h2 Default
button(class='btn default' v-collapse:test-collapse) v-collapse
div.pad.bg-color-primary(is='collapse-toggle' target='test-collapse') CollapseToggle
collapse(id='test-collapse' expanded)
  h3 test collapse
  p= lorem
  p= lorem

h2 Accordion
button.btn.info(v-accordion:accordion2="'accordion-test'") v-accordion
ul(class='list-group')
  li
    div(is='collapse-toggle' target='accordion1' accordion='accordion-test') accordion one
    collapse(id='accordion1' accordion='accordion-test' expanded)
      h3 accordion1
      p=lorem
      button(v-collapse:test00) nested
      collapse(id='test00')
        h4 Nested
        p=lorem
  li
    div(is='collapse-toggle' target='accordion2' accordion='accordion-test') accordion two
    collapse(id='accordion2' accordion='accordion-test')
      h3 accordion2
      p=lorem
  li
    div(is='collapse-toggle' target='accordion3' accordion='accordion-test') accordion three
    collapse(id='accordion3' accordion='accordion-test')
      h3 accordion3
      p=lorem

h2 Collapse Toggle

collapse-toggle.pad.bg-color-shade(target='test-collapse2') toggle
span.d-inline-block.bg-color-info(is='collapse-toggle' tag='span' target='test-collapse2') toggle by span
button.btn(is='collapse-toggle' tag='button' target='test-collapse2') toggle by button

collapse(id='test-collapse2')
  h3 test collapse
  p= lorem

h2 Collapse Toggle with icon

blockquote.pad.danger @deprecated at v0.5.x instead use <code>collapse-toggle</code> component.

h3 Collapse /w icon
div(class='collapse-toggle with-plus pad bg-color-primary' v-collapse:test01) TEST01
collapse(id='test01')
  p(class='pad')= lorem

div(class='collapse-toggle with-caret pad bg-color-secondary' v-collapse:test02) TEST02
collapse(id='test02')
  p(class='pad')= lorem

h3 Accordion /w icon
ul(class='list-group')
  li
    div(class='collapse-toggle with-plus' v-accordion:test03="'test1'") accordion one
    collapse(id='test03' accordion='test1')
      h3 test03
      p=lorem
  li
    div(class='collapse-toggle with-caret' v-accordion:test04="'test1'") accordion two
    collapse(id='test04' accordion='test1')
      h3 test04
      p=lorem
  li
    div(class='collapse-toggle with-arrow' v-accordion:test05="'test1'") accordion three
    collapse(id='test05' accordion='test1')
      h3 test05
      p=lorem
