h2 Link
div.group
  a(href='#') link
  br
  a(href='#' class='no-deco') no-decoration link

h2 Blockquote
h3 Default blockquote
blockquote
  | This is a very long line that will still be quoted properly when it wraps. Oh boy let's keep writing to make sure this is long enough to actually wrap for everyone. Oh, you can put Markdown into a blockquote.
h3 Blockquote with text-set
div.pad
  blockquote.link=lorem.substring(0, 140)
  blockquote.danger=lorem
div.bg-dark.pad
  blockquote.success=lorem.substring(0, 140)
  blockquote.shade=lorem

h2 Table
div.group
  table(class='table center bordered hover')
    thead
      tr
        th name
        th age
        th gender
        th link
    tbody
      tr
        td Karl
        td 18
        td male
        td
          a(href='#') karl
      tr
        td Mia
        td 22
        td female
        td
          a(href='#' class='btn info') mia

div.group
  table(class='table striped hover' v-wrap:responsive)
    thead
      tr
        th name
        th age
        th gender
        th link
        - for (var i=0; i<10; i++)
          th= 'head #' + (i+1)
    tbody
      tr
        td Karl
        td 18
        td male
        td
          a(href='#') karl
        - for (var i=0; i<10; i++)
          td= 'body #' + (i+1)
      tr
        td Mia
        td 22
        td female
        td
          a(href='#') mia
        - for (var i=0; i<10; i++)
          td= 'body #' + (i+1)

h2 Optional Classes

h3 .pad with Container Elements

blockquote.info.pad-sm
  span Container Elements: div, p and blockquote
div.pad.bg-warning div with .pad
p.pad-lg.bg-shade p with .pad-lg

h3 .pad with Section Elements

blockquote.info.pad-sm
  span Semantic Section Elements: article, section and aside
article.pad-sm.bg-secondary article with .pad-sm
section.pad.bg-shade
  span If case of section with pad, it's responsive.
section.pad-lg.bg-secondary
  span section with .pad-lg

h3 .accent
div.mb-3
  h1.accent.text-danger Heading with .accent
  h2.accent.text-danger Heading with .accent
  h3.accent.text-danger Heading with .accent
  h4.accent.text-danger Heading with .accent
  h5.accent.text-danger Heading with .accent
  h6.accent.text-danger Heading with .accent
